   
    body {
    width: 100%;    
    height: 100%;
    Background: url("./img2/img1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

    /*Header*/ 
    .header {
    margin-top: 0;
    }

    form {
        width: 300px;
    }
    input {
        border: none;
    }
    button {
        margin-bottom: 10px;
    }


  



