* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-header: "Poppins", sans-serif;
    --font-body: "Roboto", sans-serif;
    --font-card: "Hind", sans-serif;
    --font-size-small: 1rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.5rem;
    --font-size-xlarge: 2rem;
    --font-size-xxlarge: 3rem;
    --font-size-xxxlarge: 4rem;
    --font-color: #0a0d0fbf;
    --blue: #1832a5;
    --button: #128c7e;
    --green: #075e54;
    --white: #fff;
    --gray: #ecebeb;
    --gray-300: #c4c4c4;

    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}


body {
  overflow-x: hidden;
}






/* Header */
.header {
    background: radial-gradient(circle, rgba(255, 215, 0, 1) 0%, rgba(255, 215, 0, 0.4) 100%);
    font-family: var(--font-header);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 1.5rem;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 1px 4px;
    z-index: 4;
}



.logoxx {
    border-radius: 50px;
}


.logo-content {
    font-size: 1.2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 600;
}


/* Menu */
.nav-itens {
    display: flex;
    color: var(--font-color);
    font-weight: 500;
    gap: 2rem;
    list-style: none;
}


.register-itens {
    display: flex;
    color: var(--font-color);
    font-weight: 500;
    gap: 2em;
    list-style: none;
}


.nav-item,
.register-item {
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
}

.register-item {
    padding: 0.4rem 1.5rem;
    border: 2px solid var(--button);
    border-radius: 5px;
    color: var(--font-color);
}

.register-itens:nth-child(2) .register-item {
    background: var(--button);
    color: var(--white);
}


.btn-mobile {
    display: none;
}

.button-pagar {
    top: 60%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}





.xsss {
    color: yellow;
    font-size: 25px;
}

.caixa-video-mario {
    position: fixed;
    top: 0;
    z-index: -1; 
    width: 100%;
    height: 100%;
}
.vid111 {
    position: fixed;
    top: 0; 
    display: block;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    /*min-height: 100%;
    min-width: 100%;
     object-fit: cover; */
}

.mascara-video {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;

    /* background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%); */
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.695) 15%, rgba(10, 12, 16, 0.65) 50%, rgba(10, 12, 16, 0.695) 85%);
}



html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--escuro);
    color: var(--claro);
}

.cabecalho {
    min-height: 100vh;
    padding-top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.foto-perfil {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 4s ease-in-out infinite;
}
h1 {
    font-size: 3.2rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}
.cabecalho-sub-titulo {
    font-size: 1.6rem;
    color: var(--claro);
}

.sobre {
    padding: 3rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 33px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 865px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);

      h2 { 
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background: green;
        border-radius: 3px;
        font-size: 1.5rem;
    }
}
.sobre-paragrafo {
    text-align: start;
    font-size: 1rem;
}

.content-hackers-bem {
 width: 100vw;
 height: auto;
}


.logo-hacker5 {
   width: 100vw;
    height: auto;
    display: flex;
    padding: 6rem;
    margin-top: 40px;
}
.logo-hacker{
    width: 68%;
    height: auto;
    margin: 0 auto 0 auto;
}

.logo-hackerb5 {
    width: 100%;
}

.projetos {
    width:100%;
    height: auto;
    padding: 2rem 6rem;
}
.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    max-width: 1200px;
    padding: 0 auto;
}
.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}
.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}


.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.projetos-imagem2,
.projetos-imagem1 {
    height: 210px;
    width: 100%;
    object-fit: contain;
    padding-top: 10px;
}


.caixa-textos-projeto {
    padding: 1.5rem;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.info-projetos {
    margin-bottom: 5px;
}

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba( 255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}
.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}


@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.area-content {
    width: 80px;
    display:flex;
    position: relative;
    
}

/* Inicio - icones fixos na tela */
.android-image {
    width: 60px;
    position: fixed;
    z-index: 1001;
    left: 35px;
    top: 150px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50%;
    /* background: #ffffff; */
    font-size: 15px;
}

.android-image:hover {
    border: 2px dashed #fff;
}

.kali-image {
    position: fixed;
    z-index: 1001;
    right: 35px;
    top: 150px;
    cursor: pointer;
    border-radius: 50%;
    /* background: #ffffff; */
    font-size: 15px;
    transition: 1s ease;
}

.kali-image:hover {
    width: 200px;
    right: 15px;
    top: 125px;
}
.kali-text {
    position: fixed;
    right: 15px;
    top: 205px;
    padding: 8px;
    color: red;
    z-index: 1002;
}
 
.whatsapp-content {
    width: 60px;
    display:flex;
    position: relative;
}

.whatsapp-contato-image {
    position: fixed;
    z-index: 1001;
    right: 20px;
    bottom: 50px;
    cursor: pointer;
    transition: all 1s ease;
}

.whatsapp-contato-image:hover {
    transform: rotate(90deg) translate(0, 0);
}
/* FIM - icones fixos na tela */

.footer {
    width: 100%;
    height:auto;
    color: var(--white);
    padding: 1rem 0;
    background-image: radial-gradient(#470964, #791fd3);
    z-index:100;
}

 .footer-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background-color: transparent;
    z-index:100;
}




.footer-itens {
    display: flex;
    gap: 5rem;
    font-size: var(--font-size-small);
    font-family: var(--font-card);
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;

}

.footer-itens ul {
    list-style: none;
}


.footer-title,
.footer-logo {
    width: 100%;
    color: var(--white);
    text-decoration: none;
    font-size: var(--font-size-medium);
    font-family: var(--font-header);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    column-gap: 0.4rem;
    padding: 1rem 0;
}

.footer-logo span {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
    gap: 0.5rem;
    padding-bottom: 1rem;

}

.footer-icons {
    width: 100%;
    /* margin: 1rem auto 0 auto; */
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

.icons-list {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.icons-list .icons-links {
    font-size: var(--font-size-xlarge);
    color: var(--white);
}


.img-footer {
    border-radius: 50%;
    margin-bottom: 15px;
}

.termos1e2 {
    color: #128c7e;
    font-weight: 700;
}

.termos1e2:hover {
    color: aqua;
}

.copyright {
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 20px 0;
} 

@media only screen and (max-width: 830px) {

:root {
        --font-size-small: 1rem;
        --font-size-medium: 1.2rem;
        --font-size-large: 1rem;
        --font-size-xlarge: 1.5rem;
        --font-size-xxlarge: 1.5rem;
        --font-size-xxxlarge: 2.5rem;
    }

    .nav,
    .register {
        display: none;
    }


    .car-img {

        filter: blur(5px);
        opacity: 0.5;
    }

    .bar {
        display: block;
        width: 32px;
        height: 4px;
        background: var(--button);
        margin: 5px auto;
        border-radius: 5px;
        transition: transform 0.4s ease;
    }

    .btn-mobile {
        display: block;
        border: none;
        background: none;
        margin: 0.2rem;
    }

    .btn-mobile.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .btn-mobile.active .bar:nth-child(2) {
        opacity: 0;
    }

    .btn-mobile.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }


    .nav.active,
    .register.active {
        display: block;
        opacity: 0;
        animation: showMenuImage 1s linear 1 forwards;
    }




    @keyframes showMenuImage {
        to {
            opacity: 1;
        }
    }


    .nav-itens {
        width: 60%;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 120px;
        padding: 40px 17px;
        right: 18%;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
        background: radial-gradient(circle, rgba(255, 215, 0, 1) 0%, rgba(255, 215, 0, 0.8) 100%);
        border-radius: 10px;
        height: 390px;

    }

    .register-item {
        border: none;
        color: var(--white);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
        font-weight: 600;
    }



    .register-item:hover {
        background: #1832a5;
    }

    .register-itens {

        font-weight: 500;
        gap: 1.5em;
        list-style: none;
        display: flex;
        position: fixed;
        margin-top: 50px;
        padding: 3px;
        right: 48%;
        top: 340px;
        transform: translateX(50%);
        flex-direction: column;
        text-align: center;
        /* border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;*/
    }

    
    .cabecalho {
    min-height: 100vh;
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
   .foto-perfil {
    width: 220px;
    height: 220px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 4s ease-in-out infinite;
}
   
    h1 {
    font-size: 1.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.cabecalho-sub-titulo {
    font-size: 1.2rem;
    color: var(--claro);
}



/* .logo-hacker5 {
    display: none;
} */

.sobre-titulo {
    font-size: 2rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}


.sobre-paragrafo {
    text-align: start;
    font-size: 0.8rem;
}
.contatos-titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}
.projetos-titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}


    .footer-itens {
        justify-content: center;

    }

    .footer-item {
        text-align: center;
        width: 20rem;

    }

    .footer-icons {
        width: 60%;
        height: auto;
        margin: 1rem auto;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        align-items: center;

    }

    .icons-list {
        display: flex;
        gap: 1rem;
        flex: 1 0;
        flex-direction: row;

        flex-wrap: wrap;
        justify-content: center;
    }

}
@media only screen and (max-width: 500px) {


.cabecalho {
    min-height: 100vh;
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabecalho-sub-titulo {
    font-size: 1.0rem;
    color: var(--claro);
}
 
.content-hackers-bem {
 width: 100vw;
 height: auto;
}


.logo-hacker5 {
   width: 100vw;
    height: auto;
    display: flex;
    padding: 0;
    margin-top: 0;
}
.logo-hacker{
    width: 68%;
    height: auto;
    margin: 0 auto 0 auto;
}

.logo-hackerb5 {
    width: 100%;
}

.projetos {
    padding: 3rem 2rem;
}

.sobre-caixa {
    padding: 1rem;
    max-width: 865px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);

    h2 { 
        text-align: center;
        font-size: 1.3rem;
    }
}

.sobre-paragrafo {
    text-align: start;
    font-size: 0.7rem;
}


/* Inicio - icones fixos na tela */
.android-image {
    width: 55px;
    position: fixed;
    z-index: 1001;
    left: 15px;
    top: 130px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50%;
    /* background: #ffffff; */
    font-size: 15px;
}

.android-image:hover {
    border: 2px dashed #fff;
}

.kali-image {
    position: fixed;
    z-index: 1001;
    right: 15px;
    top: 130px;
    cursor: pointer;
    border-radius: 50%;
    /* background: #ffffff; */
    font-size: 15px;
    transition: 1s ease;
}

.kali-image:hover {
    width: 200px;
    right: 15px;
    top: 125px;
}
.kali-text {
    position: fixed;
    right: 8px;
    top: 180px;
    padding: 10px;
    text-align: center;
    color: red;
    z-index: 1002;
}
 
.whatsapp-content {
    width: 55px;
    display:flex;
    position: relative;
}

.whatsapp-contato-image {
    position: fixed;
    z-index: 1001;
    right: 10px;
    bottom: 50px;
    cursor: pointer;
    transition: all 1s ease;
}

.whatsapp-contato-image:hover {
    transform: rotate(90deg) translate(0, 0);
}
/* FIM - icones fixos na tela */
}


